<div  class="item__search">
  Albums
    <form #myForm="ngForm">
        <input #model="ngModel" id="lblAlbumNameSearch" placeholder="enter album name" [(ngModel)]="albumNameSearch" required name="lblAlbumNameSearch" #lblAlbumNameSearch="ngModel">
        <div *ngIf="lblAlbumNameSearch.errors && (lblAlbumNameSearch.dirty || lblAlbumNameSearch.touched)">
            Required
        </div>
        <button id="btnAlbumNameSearch" class="btn" (click)="onClickSearchAlbum()" [disabled]="!myForm.form.valid">Search Album</button>
        <button id="btnAlbumNameSearchClear" class="btn" (click)="onClickSearchAlbumClear()">Clear Search</button>
    </form>
</div>

<app-album-list [albums]="albums"></app-album-list>



