<div class="item__search">
	My Favorite Artists
	<form #artistForm="ngForm">
		<input id="lblArtistNameSearch" placeholder="enter artist name" [(ngModel)]="artistNameSearch" required name="lblArtistNameSearch" #lblArtistNameSearch="ngModel">
		<div *ngIf="lblArtistNameSearch.errors && (lblArtistNameSearch.dirty || lblArtistNameSearch.touched)">
			Required
		</div>
		<button id="btnArtistNameSearch" class="btn" (click)="onClickSearchArtist()" [disabled]="!artistForm.form.valid">Search Artist</button>
		<button id="btnArtistNameSearchClear" class="btn" (click)="onClickSearchArtistClear()">Clear Search</button>
	</form>
</div>
<div *ngIf="artists">
	<app-artist-list [artists]="artists" (refreshEvent)="refresh($event)"></app-artist-list>
</div>
