<div class="container__search">

    Artists
    <p>
        <input id="lblArtistNameSearch" placeholder="enter artist name"  [(ngModel)]="artistNameSearch">
        <button id="btnArtistNameSearch" class="btn" (click)="onClickSearchArtist()">Search Artist</button>
        <button id="btnArtistNameSearchClear" class="btn" (click)="onClickSearchArtistClear()">Clear Search</button>
    </p>
</div>
<div *ngIf="artist; else noContent">
    <app-artist-item [artist]="artist" [topTracks]="topTracks" [topAlbums]="topAlbums"></app-artist-item>
</div>

<ng-template #noContent>
    No content
</ng-template>





